<header>
    <div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <img src="../../assets/img/icon.png" class="rounded" alt="Cinque Terre"
                    style="width:45px;height:45px;">
                <strong style="padding-left: 10px;">The Pizza Lounge</strong>
            </a>
            <a [routerLink]="['/cart']">
                <img src="../../assets/img/shopping-cart.png" class="rounded" alt="Cinque Terre"
                    style="width:50px;height:50px;" />
                    <strong style="color: black;padding-bottom: 50px;">{{cartItemCount}}</strong>
            </a>
        </div>
    </div>
    <div class="navbar navbar-dark bg-white shadow-sm fixed-top"
        style="height: 50px; margin-top: 72px; background-color: white;">
        <ul class="nav nav-pills">
            <li>
                <a class="nav-item nav-link active" id="pizza-tab" href="#home" role="tab" aria-controls="pizza"
                    aria-selected="true" style="margin-left: 60px;">HOME</a>
            </li>
            <li>
                <a class="nav-item nav-link" id="beverages-tab" href="#pizza" role="tab"
                    aria-controls="beverages" aria-selected="false">PIZZA</a>
            </li>
            <li>
                <a class="nav-item nav-link" id="deal-tab" href="#beverages" role="tab"
                    aria-controls="deal" aria-selected="false">BEVERAGES</a>
            </li>
        </ul>
    </div>
</header>