<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>The Pizza Lounge</title>
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm fixed-top">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="../../assets/img/icon.png" class="rounded" alt="Cinque Terre"
                        style="width:45px;height:45px;">
                    <strong style="padding-left: 10px;">The Pizza Lounge</strong>
                </a>
                <a href="#">
                    <img src="../../assets/img/shopping-cart.png" class="rounded" alt="Cinque Terre"
                        style="width:50px;height:50px;" />
                </a>
            </div>
        </div>
        <div class="navbar navbar-dark bg-white shadow-sm fixed-top"
            style="height: 50px; margin-top: 72px; background-color: white;">
            <ul class="nav nav-pills">
                <li>
                    <a class="nav-item nav-link" id="pizza-tab"  href="#pizza" role="tab"
                        aria-controls="pizza" aria-selected="true" style="margin-left: 60px;">PIZZA</a>
                </li>
                <li>
                    <a class="nav-item nav-link" id="beverages-tab"   href="#beverages" role="tab"
                        aria-controls="beverages" aria-selected="false">BEVERAGES</a>
                </li>
                <li>
                    <a class="nav-item nav-link active"  data-toggle="pill" id="deal-tab" href="#deal" role="tab"
                        aria-controls="deal" aria-selected="false">DEALS</a>
                </li>
            </ul>
        </div>
    </header>

    <main role="main">
 
        <section class="jumbotron text-center">
            <div class="container" style="margin-top: 100px;">
                <h1>The Pizza Lounge</h1>
                <p class="lead text-muted">Groove Here with Food and Music</p>
            </div>
        </section>

        <!-- Pizza and Beverage Starts -->
        <div class="album py-5 bg-light" id="pizza">
            <div class="container">
                <div class="row">
                    <!--Pizza 1-->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../assets/img/chicken_dominator.jpg" class="rounded img-thumbnail"
                                alt="Cinque Terre">
                            <div class="card-body">
                                <p class="card-text">Chicken Turbinator
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                        style="width: 20px;height:20px; padding-left:4px">
                                        <path fill="none" stroke="#92282a" stroke-width="2" d="M1 1h62v62H1z" />
                                        <circle cx="32" cy="32" r="20.7" fill="#92282a" /></svg>
                                </p>
                                <p class="text-muted">Chicken Tikka, Grilled Onions, Grilled Tomatoes</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                                    </div>
                                    <small class="text-muted">Rs 335.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pizza 2-->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../assets/img/chicken_fiesta.jpg" class="rounded img-thumbnail"
                                alt="Cinque Terre">
                            <div class="card-body">
                                <p class="card-text">Chicken Fiery
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                        style="width: 20px;height:20px; padding-left:4px">
                                        <path fill="none" stroke="#92282a" stroke-width="2" d="M1 1h62v62H1z" />
                                        <circle cx="32" cy="32" r="20.7" fill="#92282a" /></svg>

                                </p>
                                <p class="text-muted">Smoked Chicken, Onions, Tomatoes, Green Capsicum</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                                    </div>
                                    <small class="text-muted">Rs 380.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pizza 3 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../assets/img/peppy_paneer.jpg" class="rounded img-thumbnail"
                                alt="Cinque Terre">
                            <div class="card-body">
                                <p class="card-text">Spicy Paneer
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                        style="width: 20px;height:20px; padding-left:4px">
                                        <path d="M1 1h62v62H1V1z" fill="none" stroke="#00923f" stroke-width="2" />
                                        <circle cx="32" cy="32" r="20.7" fill="#00923f" /></svg>
                                </p>
                                <p class="text-muted">Bhuna Paneer,Green Capsicum, Red Paprika, Grilled Tomatoes</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                                    </div>
                                    <small class="text-muted">Rs 300.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pizza 4 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../assets/img/veg_extravaganza.jpg" class="rounded img-thumbnail"
                                alt="Cinque Terre">
                            <div class="card-body">
                                <p class="card-text">Veg Extravaganza
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                        style="width: 20px;height:20px; padding-left:4px">
                                        <path d="M1 1h62v62H1V1z" fill="none" stroke="#00923f" stroke-width="2" />
                                        <circle cx="32" cy="32" r="20.7" fill="#00923f" /></svg>
                                </p>
                                <p class="text-muted">Green Capsicum, Paprika, Grilled Tomatoes, Olives, Mushrooms</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                                    </div>
                                    <small class="text-muted">Rs 400.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pizza 5 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../assets/img/IndianTandooriPaneer.jpg" class="rounded img-thumbnail"
                                alt="Cinque Terre">
                            <div class="card-body">
                                <p class="card-text">IndiePaneerTandoori
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                        style="width: 20px;height:20px; padding-left:4px">
                                        <path d="M1 1h62v62H1V1z" fill="none" stroke="#00923f" stroke-width="2" />
                                        <circle cx="32" cy="32" r="20.7" fill="#00923f" /></svg>
                                </p>
                                <p class="text-muted">Tandoori paneer with capsicum, red paprika & mint mayo</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                                    </div>
                                    <small class="text-muted">Rs 290.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pizza 6 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../assets/img/IndianTandooriChickenTikka.jpg" class="rounded img-thumbnail"
                                alt="Cinque Terre">
                            <div class="card-body">
                                <p class="card-text">IndieChickenTandoori
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                        style="width: 20px;height:20px; padding-left:4px">
                                        <path fill="none" stroke="#92282a" stroke-width="2" d="M1 1h62v62H1z" />
                                        <circle cx="32" cy="32" r="20.7" fill="#92282a" /></svg>
                                </p>
                                <p class="text-muted">Tandoori masala with Chicken tikka, onion, red paprika
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                                    </div>
                                    <small class="text-muted">Rs 320.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Beverage 1 -->
                    <div class="col-md-4" id="beverages">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../assets/img/pepsi.png" class="rounded img-thumbnail" alt="Cinque Terre">
                            <div class="card-body">
                                <p class="card-text">Pepsi (500ml)
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                        style="width: 20px;height:20px; padding-left:4px">
                                        <path d="M1 1h62v62H1V1z" fill="none" stroke="#00923f" stroke-width="2" />
                                        <circle cx="32" cy="32" r="20.7" fill="#00923f" /></svg>
                                </p>
                                <p class="text-muted">Sparkling and Refreshing Beverage</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                                    </div>
                                    <small class="text-muted">Rs 60.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Beverage 2 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../assets/img/tea.jpg" class="rounded img-thumbnail" alt="Cinque Terre">
                            <div class="card-body">
                                <p class="card-text">Lipton Ice Tea (250ml)
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                        style="width: 20px;height:20px; padding-left:4px">
                                        <path d="M1 1h62v62H1V1z" fill="none" stroke="#00923f" stroke-width="2" />
                                        <circle cx="32" cy="32" r="20.7" fill="#00923f" /></svg>
                                </p>
                                <p class="text-muted">Naturally Refreshing, Zero Calories</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                                    </div>
                                    <small class="text-muted">Rs 50.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Beverage 3 -->
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="../../assets/img/water.png" class="rounded img-thumbnail" alt="Cinque Terre">
                            <div class="card-body">
                                <p class="card-text">Bailley Premium Water (500ml)
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                                        style="width: 20px;height:20px; padding-left:4px">
                                        <path d="M1 1h62v62H1V1z" fill="none" stroke="#00923f" stroke-width="2" />
                                        <circle cx="32" cy="32" r="20.7" fill="#00923f" /></svg>
                                </p>
                                <p class="text-muted">Cool and Refreshing</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                                    </div>
                                    <small class="text-muted">Rs 20.00</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pizza and Beverage Ends -->

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
            <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a
                    href="/docs/4.4/getting-started/introduction/">getting started guide</a>.</p>
        </div>
    </footer>
</body>

</html>









<!-- 
        <div>
        <div class="form-check" style="width: 50%; float: left;">
            <input class="form-check-input" type="radio" name="pizzaType" [(ngModel)]="pizzaType" id="veg-radio" value="veg" checked>
            <button type="button" class="btn btn-success">Veg Pizza</button>
        </div>
        <div class="form-check" style="width: 50%;float: right;">
            <input class="form-check-input" type="radio" name="pizzaType" [(ngModel)]="pizzaType" id="nonveg-radio" value="non-veg">
            <button type="button" class="btn btn-danger">Non-Veg Pizza</button>
        </div>
    </div>

   
       <div style="margin-bottom: 50px;margin-top: 10px;">
            <span style="float: left;padding-left: 20px;">Name:</span>
            <input type="text" [(ngModel)]= "name" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="addon-wrapping" style="width: 50%; margin-left: 100px;" ngModel>
        </div>
        <div>
            <span style="float: left;padding-left: 20px;">Email:</span>
            <input type="text" [(ngModel)]= "email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping" style="width: 50%; margin-left: 100px;" ngModel>
        </div>
        <button type="button" (click)="order()" class="btn btn-info" style="margin-left: 400px; margin-top: 50px;">Order</button>      
    -->